h1 {
    font-size: 3.4375em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.125em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.3125em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 0.8125;
    margin-bottom: 0.5em;
}

/* h6 to be used in the blog for dates*/
h6 {
    font-size: 1em;
    color: $secondary-text-color;
    margin-bottom: 0.5em;
}

h2 + h6 {
    margin-bottom: 1em;
}

p {
    line-height: 1.4em;
    margin-bottom: 1.4em;
}

a {
    color: $primary-color;
    display: inline;

    &:visited {
        color: $primary-color;
    }

    &:hover {
        color: $primary-color-dark;
    }
}

hr {
    border-top: 1px dashed $secondary-text-color;;
     margin: 3em 0;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 5px;
    display: inline-block;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2em;

    code {
        background-color: transparent;
        border: none;
        display: block;
    }
}

article {
    padding-bottom: 2em;
    border-bottom: 1px solid lighten($secondary-text-color, 40%);
    margin-bottom: 3em;

    &:last-child {
        border-bottom: none;
        margin-bottom: 0em;
    }
}
