@import 'colors';
@import 'fonts';
@import 'reset';

body {
    background-color: $page-background;
    color: $white;
}

header {
    width: 100vw;
    height: 40vh;
    min-height: 300px;
    background-color: $header-background;
    color: $white;
}
